
.pupa1 {
    margin-top: 64px;
    width: 990px;
    height: 38px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', Verdana, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    color: #191919;
}
.popblock{
    display: flex;
    width: 1194px;
    border-bottom-style: solid;
    border-color: #A5E739;
    
}
.popblock p{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', Verdana, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: #191919;
    margin-top: 22px;
}
.poptext1{
    width: 200px;
    height: 29px;
}
.poptext2{
    margin-left: 87px;
    width: 614px;
    height: 29px;
}
.poptext3{
    margin-left: 45px;
    width: 238px;
    height: 29px;
}
