

.sroki h1 {
    width: 1012px;
    height: 77px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', Verdana, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 64px;
    color: #191919;
    margin-top: 130px;
}

.sroki p {
    width: 717px;
    height: 38px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', Verdana, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    color: #191919;
    margin-top: 70px;
}

.popblock1 {
    display: flex;
    width: 1191px;
    border-bottom-style: solid;
    border-color: #A5E739;

}

.popblock1 p {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', Verdana, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    color: #191919;
}

.poptext11 {
    width: 156px;
    height: 38px;


}

.poptext21 {
    margin-left: 200px;
    width: 435px;
    height: 38px;


}

.poptext31 {
    margin-left: 200px;
    width: 209px;
    height: 38px;
}

.srokibot {
    margin-top: 100px;
    width: 622px;
    height: 38px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', Verdana, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    color: #191919;
}
