
.design {
  max-width: 1456px;
}

.documents {
  display: block;
}

.documents h1 {
  color: #191919;
  font-weight: 600;
  font-size: 64px;
  line-height: 120.77%;
  margin-bottom: 40px;
  margin: 80px 0 30px 0;
}

.documents a {
  font-weight: 400;
  font-size: 16px;
  font-stretch: normal;
  text-decoration-line: underline;
  color: #000000;
  line-height: 2.7;
}

