

.calender {
    width: 1198px;
    height: 823px;
}

.Календарьзаглав {
    display: flex;
    justify-content: space-between;
}

.Календарьзаглав h1 {
    width: 752px;
    height: 71px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', Verdana, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 64px;
    color: #191919;
}

.Календарьзаглав a {
    width: 210px;
    height: 38px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', Verdana, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    text-decoration-line: underline;
    color: #285CAB;
    justify-content: center;
    text-align: right;
}

.Календарьраздел {
    width: 1190px;
    height: 138px;
    display: flex;
    margin-top: 66px;
    border-bottom-width: 1190px;
    border-bottom: 1px solid #191919;
    ;
}

.Календарьдата {
    width: 206px;
    height: 80px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', Verdana, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 72px;
    color: #285CAB;
}

.Календарьнедели {
    width: 158px;
    height: 38px;
    margin-top: 52px;
    margin-left: 11px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', Verdana, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    color: rgba(25, 25, 25, 0.7);
    text-align: left;
}

.Календарьтекст {
    margin-top: 52px;
    width: 800px;
    height: 38px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', Verdana, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    color: #285CAB;
    text-align: end;
}