body {
    background-color: #F1F1F1;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', Verdana, sans-serif;
}

.design {
    max-width: 1456px;
}

.information {
    display: block;
    margin: 0 110px;
}

.topinfo {
    margin: 100px 0 100px 0;
    width: 1000px;
    font-weight: 600;
    font-size: 36px;
    line-height: 138.77%;
    letter-spacing: 0.01em;
    color: #191919;
}

.blue {
    color: #285CAB;
}

.link {
    text-decoration: underline;
}


.midinfo {
    margin: 0 0 100px 0;
}

.midinfo h1 {
    font-weight: 400;
    font-size: 46px;
    line-height: 158.77%;
    letter-spacing: 0.01em;
    color: #285CAB;
    margin: 0 0 24px 0;
}

.midinfo span {
    text-decoration: underline;
}

.midinfo p {
    margin: 24px 0 0 0;
}

.contacts p {
    margin: 0 0 24px 0;
    font-weight: 400;
    font-size: 19px;
}

