body {
  background-color: #F1F1F1;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', Verdana, sans-serif;
}

header {
  height: 121px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom-style: solid;
  border-color: #305cac;
  border-width: 1px;
}

a {
  color: black;
  text-decoration: none;
}

.dropdown-menu {
  border-color: #fff;
}

.dropdown-item:hover {
  background-color: #c8ec84;
  border-radius: 10px;
}

.dropdown {
  border-radius: 20px;
  margin: 35px;
}

.design {
  max-width: 1456px;
}

.information {
  display: block;
  margin: 0 110px;
}

.topinfo {
  display: flex;
  margin: 100px 0 100px 0;
}

.item1 {
  width: 907px;
  font-size: 36px;
  line-height: 120.77%;
}

.item1 h1 {
  font-weight: 600;
  font-size: 36px;
  line-height: 120.77%;
  color: #191919;
  margin: 0 0 25px 0;
}

.item1 p {
  width: 1200px;
  font-weight: 400;
  font-size: 17px;
  line-height: 158.77%;
  letter-spacing: 0.01em;
  color: #191919;
}

.item1 span {
  color: #305cac;
}

.midinfo {
  margin: 0 0 100px 0;
}

.midinfo h1 {
  font-weight: 400;
  font-size: 46px;
  line-height: 158.77%;
  letter-spacing: 0.01em;
  color: #285CAB;
  margin: 0 0 24px 0;
}

.midinfo span {
  text-decoration: underline;
}

.midinfo p {
  margin: 24px 0 0 0;
}

.divmargin {
  margin: 0 0 98px 0;
}

.one {
  width: 1079px;
}

.two {
  width: 1063px;
}

.three {
  width: 761px;
}

.acceptance {
  width: 818px;
  font-size: 18px;
  line-height: 158.77%;
  letter-spacing: 0.01em;
  color: #191919;
  margin: 0 0 70px 0;
}

.acceptance span {
  text-decoration: underline;
}

.contacts p {
  margin: 0 0 24px 0;
  font-weight: 400;
  font-size: 19px;
}