

.goals {
  display: block;
  margin: 0 110px;
}

.goals h1 {
  margin: 80px 0 60px 0;
  color: black;
  font-weight: 600;
  font-size: 64px;
  line-height: 120.77%;
}

.blocks {
  margin: 60px 0 0 0;
}

.blocks h2 {
  color: #285CAB;
  margin: 0 0 10px 0;
  font-weight: 400;
  font-size: 47px;
  line-height: 158.77%;
  letter-spacing: 0.01em;
}

.blocks p {
  font-weight: 400;
  font-size: 17px;
  line-height: 184.27%;
  letter-spacing: 0.01em;
  color: black;
  margin: 0px;

}

