
.ztext1 {
    display: block;
}

.ztext1 h1 {
    width: 806px;
    height: 77px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', Verdana, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 64px;
    color: #191919;
    margin-top: 125px;
}

.ztext1 p {
    width: 1145px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', Verdana, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: #191919;
    margin-top: 40px;
}

.popblock2 {
    display: flex;
    width: 1191px;
    border-bottom-style: solid;
    border-color: #A5E739;

}

.popblock2 p {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', Verdana, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: #191919;
    margin-top: 22px;
}

.poptext12 {
    width: 320px;
    height: 29px;
}

.poptext22 {
    width: 315px;
    height: 29px;
}

.poptext32 {
    width: 300px;
    height: 29px;
}

.poptext4 {
    width: 239px;
    height: 29px;

}

.ztextgrup {
    display: flex;
    margin-top: 100px;
}

.ztext3 {
    width: 807px;
    height: 87px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', Verdana, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: #191919;
}

.ztext4 {
    width: 280px;
    height: 33px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', Verdana, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: #191919;
    margin-left: 100px;
}
.links{
    margin-top: 120px;

}
.links a{
    width: 807px;
    height: 58px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', Verdana, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    text-decoration-line: underline;
    color: #285CAB;
    margin-top: 20px;
    
}
